:root{
    --montserrat: 'Montserrat', sans-serif;
    --inter: 'Inter', sans-serif;
    --lalezar: 'Lalezar', cursive;
    --azul-unimar: #0072BC;
    --azul-escuro: #055183;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: #EDEDED;
    overflow-x: hidden;
}

.header{
    width: 100vw;
    height: 8vh;
    background: #0072BC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-family: var(--inter);
}

.logo img{
    width: 170px;
}

.search-navbar input{
    width: 250px;
    height: 40px;
    background-image: url(imgs/search.png);
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 5px;
    background-size: 30px;
    padding-left: 2.5em;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    font-family: var(--inter);
}

.search-navbar input:focus{
    outline: 2px solid var(--azul-escuro);
    box-shadow: 0px 5px 10px var(--azul-escuro);
    
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.btn button{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background: var(--azul-escuro);
    gap: .3em;
    border: none;
    background-image: url(imgs/user.png);
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 10px;
    background-size: 20px;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: white;
    margin-right: -20px;
    font-size: 18px;
}

section{
    width: 100vw;
    height: 120vh;
    background-image: url(imgs/ondaa.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 110%;
}

section .container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.container .lado-esq{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}

.pergunta{
    width: 500px;
    height: 300px;
    background: #FFFFFF;
    border: 2px solid var(--azul-unimar);
    align-self: flex-start;
    margin-top: 10%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.resposta{
    width: 500px;
    height: 500px;
    background: #FFFFFF;
    border: 2px solid var(--azul-unimar);
    align-self: flex-start;
    margin-top: 10%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 3%;
}

.container .lado-dir{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15%;
    gap: 2em;
}

.btn-pergunta{
    margin-top: -80%;
}

.btn-pergunta button{
    width: 220px;
    height: 70px;
    border: none;
    background: var(--azul-unimar);
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--inter);
    transition: .3s;
    cursor: pointer;
    
}

.btn-pergunta button:hover{
    box-shadow: -5px 5px 0px var(--azul-escuro);
}

.lado-dir .temas{
    background: #FFFFFF;
    width: 400px;
    height: 600px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid var(--azul-unimar);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card{
    width: 300px;
    height: 70px;
    border: 2px solid var(--azul-unimar);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.card .card-content {
    position: relative;
    top: 20%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .scroll{
    position: relative;
    left: 2%;
    width: 320px;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 70px;
}

.temas p{
    font-size: 1.5em;
    font-family: var(--inter);
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: -10px;
}